/* Estilos generales */
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    font-family: serif;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
  }
  
  .seccion-oscura {
    color: white;
    background-color: #242424;
  }
  
  .seccion-clara {
    color: black;
    background-color: white;
  }
  
  .seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
  }
  
  .seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
  }
  
  .seccion-texto {
    font-size: 1.2rem;
  }
  
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
  }
  
  .texto-negro {
    color: black;
  }
  
  .texto-blanco {
    color: white;
  }

  .btn{
    background-color: white;
    font-family: 'Rubik Dirt', cursive;
    color: black;
  }
  .btn:hover{
    background-color: black;
    color: white;
  }

/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.navbar-collapse li{
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
}

/* Seccion Hero*/
.hero-principal{
  width: 95%;
}
.hero-house p{
  font-family: Helvetica;
}
.hero-inferior{
  width: 95%;
}

/* Menu */
.menu-multiple{
  width: 100%;
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Verdana;
  cursor: pointer;
  padding-top: 10px;
}
.menu-multiple .contenedor{
  align-content: center;
  width: 100%;
}

.badge {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-align: end;
}

/* Ubicacion */
.map{
  height: 400px;
}

/* Contacto */
  
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color:#584e4e;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 180px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}